node_modules
dist
build
.next
.env
.env.local
*.log
.DS_Store
.plasmo
# Ignore everything in crypt_shared except .so and .dylib files
api/crypt_shared/**
!api/crypt_shared/lib/
api/crypt_shared/lib/*
!api/crypt_shared/lib/*.so
!api/crypt_shared/lib/*.dylib

